#demo1_div{
	margin-left:2%;
	height:100%;
	width:52%;
	float:left;
	}
	
#demo2_div{
	margin-right:2%;
	height:40%;
	width:40%;
	float:right;	
	
}

#demo3_div{
	margin-right:2%;
	margin-top:5%;
	height:40%;
	width:40%;
	float:right;
}

#
